# venv
.venv/
.env
*.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Bytecode / builds
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter / эксперименты
.ipynb_checkpoints/
*.ipynb

# SQLite базы, если не хочешь хранить в репо
neurocontent.db
neuro_tg_session.*

# Прочее
*.sqlite3

styles/*.json
